body {
background-image: url(https://media.tenor.co/images/4ee92efa37f9fce197c340a008c7752e/raw);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.title {

font-size: 6;
color: red;

}

